# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
eva_venv/
*.egg-info/
dist/
build/

# Models
models/model_weights/*.pkl
models/model_weights/*.joblib


# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Temporary
*.tmp
temp/
screenshots/
